<footer class="bg-gradient-to-r from-[#15293d] to-[#0a2742] py-10 text-white">
  <div class="container mx-auto px-4 py-8 grid grid-cols-1 md:grid-cols-3 gap-8 text-center md:text-left items-center justify-center">
    
    <!-- Información de la empresa -->
    <div>
      <h3 class="text-lg font-semibold mb-2">ADR Collections</h3>
      <p>ADR Collections es una marca mexicana dedicada a ofrecer productos de alta calidad para el hogar y estilo de vida. Especializándonos en bolsos, carteras, tazas, termos, vajillas y decoración, combinamos diseño elegante y funcionalidad para realzar tu día a día.</p>
    </div>
    
    <!-- Información de contacto -->
    <div>
      <h3 class="text-lg font-semibold mb-2">Contáctanos</h3>
      <p>Email: ADRcollections@outlook.com</p>
      <p>Teléfono: +52 (55) 6099 6032</p>
    </div>
    
    <!-- Redes sociales -->
    <div>
      <h3 class="text-lg font-semibold mb-2">Síguenos en nuestras redes</h3>
      <div class="flex justify-center md:justify-start space-x-4">
        <a href="https://www.facebook.com/ADRcollections" target="_blank" aria-label="Facebook" class="hover:text-gray-400 transition duration-300">
          <img src="../../public/icons/facebook.svg" alt="Facebook" class="w-6 h-6">
        </a>
        <a href="https://www.instagram.com/adr_proher/" target="_blank" aria-label="Instagram" class="hover:text-gray-400 transition duration-300">
          <img src="../../public/icons/instagram.svg" alt="Instagram" class="w-6 h-6">
        </a>
      </div>
    </div>
</div>

  <!-- Separador -->
  <div class="border-t border-gray-600 mt-8"></div>

  <!-- Derechos reservados -->
  <div class="text-center py-4">
    <p class="text-sm">&copy; 2024 ADR Collections. Todos los derechos reservados.</p>
  </div>
</footer>
